<section>
    <h2>Installation</h2>

    <h3>NPM</h3>
    <p>Install unit.gl as a development dependency:</p>

    <div class="code-block"><pre><code>npm install unit.gl --save-dev</code></pre></div>

    <h3>Yarn</h3>
    <div class="code-block"><pre><code>yarn add unit.gl --dev</code></pre></div>

    <h3>pnpm</h3>
    <div class="code-block"><pre><code>pnpm add unit.gl -D</code></pre></div>
</section>
