<section class="ss-c-demo__section">
    <h2>Installation</h2>

    <h3>NPM</h3>
    <p>Install unit.gl as a development dependency:</p>

    <pre class="ss-c-code-block"><code>npm install unit.gl --save-dev</code></pre>

    <h3>Yarn</h3>
    <pre class="ss-c-code-block"><code>yarn add unit.gl --dev</code></pre>

    <h3>pnpm</h3>
    <pre class="ss-c-code-block"><code>pnpm add unit.gl -D</code></pre>
</section>
