<section>
    <h2>Using Pre-built CSS</h2>

    <p>If you don't need SCSS customization, use the pre-built CSS directly:</p>

    <div class="code-block"><pre><code><span class="comment">&lt;!-- In HTML --&gt;</span>
        &lt;link rel="stylesheet" href="node_modules/unit.gl/css/unit.gl.css"&gt;

        <span class="comment">&lt;!-- Or minified --&gt;</span>
        &lt;link rel="stylesheet" href="node_modules/unit.gl/css/unit.gl.min.css"&gt;</code></pre></div>

    <p>Or import in your JavaScript:</p>

    <div class="code-block"><pre><code><span class="comment">// In your JS/TS entry file</span>
        import 'unit.gl/css/unit.gl.css';</code></pre></div>
</section>
