

<footer class="footer">
    <div class="footer__content">
        <div class="footer__left">
            <span class="footer__brand">unit.gl</span>
            <span class="footer__tagline">Dynamic Layout Engine</span>
        </div>
        <div class="footer__right">
            <div class="footer__links">
                <a href="https://github.com/stylescape/unit.gl" class="footer__link" target="_blank">GitHub</a>
                <a href="https://www.npmjs.com/package/unit.gl" class="footer__link" target="_blank">npm</a>
                <a href="https://www.scape.agency" class="footer__link" target="_blank">Scape Agency</a>
            </div>
            <span class="footer__copyright">© 2024 Scape Agency. MIT License.</span>
        </div>
    </div>
</footer>
