{# Inset/Position #}
<section class="ss-c-demo__section">
    <h2>Position</h2>
    <p>Control positioning: <code>.top_q*</code>, <code>.right_q*</code>, <code>.bottom_q*</code>,
        <code>.left_q*</code>, <code>.inset_q*</code>
    </p>

    <div class="ss-c-demo__group">
        {% for step in [4, 8, 16] %}
        <div class="ss-c-demo__stack">
            <div class="inset-demo">
                <div class="inset-item top_q{{ step }} left_q{{ step }}"></div>
            </div>
            <span class="ss-t-label">.top_q{{ step }} .left_q{{ step }}</span>
        </div>
        {% endfor %}
    </div>

    <pre class="ss-c-code-block"><code>&lt;div style="position: relative;"&gt;
        &lt;div class="<span class="class">top_q8 left_q8</span>" style="position: absolute;"&gt;...&lt;/div&gt;
        &lt;/div&gt;</code></pre>
</section>
