<section>
    <h2>Long-Form Text</h2>

    <div class="prose">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida augue lorem, eget feugiat magna
            posuere et. Praesent eget augue consequat, pulvinar massa vitae, luctus neque. Vivamus sed metus libero.
            Cras egestas ornare mauris ac lacinia. Ut venenatis ante ut augue consectetur lacinia.</p>

        <p>Vestibulum eget finibus quam, id imperdiet libero. Etiam laoreet luctus justo, nec congue purus consequat sit
            amet. Nulla maximus orci a commodo viverra. Vivamus ultrices erat et est rhoncus aliquet ut non massa.
            Quisque id sagittis purus. Proin non volutpat nisl, vitae egestas nisi.</p>

        <p>Pellentesque placerat pellentesque dolor, vel eleifend magna maximus quis. Etiam euismod, augue vel pharetra
            volutpat, arcu justo gravida orci, non maximus dolor lectus non sapien. Phasellus vitae gravida elit, at
            rhoncus orci.</p>

        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec non
            malesuada nibh, ut fermentum eros. Ut libero arcu, aliquam ut justo eu, condimentum posuere erat. Duis ac
            mauris vulputate, tempor neque non, posuere orci.</p>
    </div>
</section>
