<section>
    <h2>Quotation</h2>

    <div class="text-sample text-sample--quote">
        <blockquote>"The grid system is an aid, not a guarantee. It permits a number of possible uses and each designer
            can look for a solution appropriate to his personal style."</blockquote>
        <cite>— Josef Müller-Brockmann</cite>
    </div>

    <div class="text-sample text-sample--quote">
        <blockquote>"Typography is what language looks like."</blockquote>
        <cite>— Ellen Lupton</cite>
    </div>
</section>
