<section class="guide--baseline">
    <h2>Rhythm Test</h2>
    <p>This section has the baseline grid enabled. Observe how text aligns to the vertical rhythm.</p>

    <div class="prose">
        <p>Vestibulum tincidunt dui nec bibendum eleifend. Quisque rutrum, turpis ac fringilla tincidunt, felis sapien
            faucibus diam, eleifend tristique nisl augue sed odio. Fusce sollicitudin libero lacinia sapien porta
            elementum.</p>

        <p>Donec id mauris auctor, rutrum metus laoreet, tincidunt nisl. Duis pulvinar rhoncus euismod. Suspendisse
            condimentum augue vel pretium pharetra. Aliquam id vehicula dolor.</p>

        <p>Vestibulum eu malesuada orci, accumsan faucibus lectus. In a ultricies nisi, non suscipit metus. Aliquam
            aliquam ante finibus libero lobortis, eget ornare ex pharetra.</p>
    </div>
</section>
