// ============================================================================
// Poster
// ============================================================================

////
///
/// Paper Variables Module
/// ===========================================================================
///
/// This module defines standard paper sizes, organized into various series and
/// categories. These sizes are stored in the `$paper_sizes` map, making them
/// easily accessible throughout the project for consistent layout and design.
///
/// @group Paper
/// @author Scape Agency
/// @link https://unit.gl
/// @since 0.1.0 initial release
/// @todo None
/// @access public
///
/// @example
///   .element {
///     width: map-get($paper_sizes, "a4")["width"];
///     height: map-get($paper_sizes, "a4")["height"];
///   }
///
////


// ============================================================================
// Use
// ============================================================================

// ============================================================================
// Variables
// ============================================================================

///
/// Paper Size Map
/// ============================================================================
///
/// A map of standard paper sizes, categorized by various series.
///
/// @name $paper_sizes
/// @type Map
///
/// @prop {Map} q0 [width: 720.00mm, height: 1080.00mm] - Q0 paper size.
/// @prop {Map} q1 [width: 540.00mm, height: 720.00mm] - Q1 paper size.
/// @prop {Map} q2 [width: 360.00mm, height: 540.00mm] - Q2 paper size.
/// @prop {Map} q3 [width: 270.00mm, height: 360.00mm] - Q3 paper size.
/// @prop {Map} q4 [width: 180.00mm, height: 270.00mm] - Q4 paper size.
/// @prop {Map} q5 [width: 135.00mm, height: 180.00mm] - Q5 paper size.
/// @prop {Map} q6 [width: 90.00mm, height: 135.00mm] - Q6 paper size.
/// @prop {Map} q7 [width: 62.50mm, height: 90.00mm] - Q7 paper size.
/// @prop {Map} q8 [width: 45.00mm, height: 62.50mm] - Q8 paper size.
/// @prop {Map} q9 [width: 31.25mm, height: 45.00mm] - Q9 paper size.
/// @prop {Map} q10 [width: 22.50mm, height: 31.25mm] - Q10 paper size.
/// @prop {Map} ansi_a [width: 8.50in, height: 11.00in] - ANSI A (Letter) paper size.
/// @prop {Map} ansi_b [width: 11.00in, height: 17.00in] - ANSI B (Ledger) paper size.
/// @prop {Map} ansi_c [width: 17.00in, height: 22.00in] - ANSI C paper size.
/// @prop {Map} ansi_d [width: 22.00in, height: 34.00in] - ANSI D paper size.
/// @prop {Map} ansi_e [width: 34.00in, height: 44.00in] - ANSI E paper size.
/// @prop {Map} arch_a [width: 9.00in, height: 12.00in] - Arch A paper size.
/// @prop {Map} arch_b [width: 12.00in, height: 18.00in] - Arch B paper size.
/// @prop {Map} arch_c [width: 18.00in, height: 24.00in] - Arch C paper size.
/// @prop {Map} arch_d [width: 24.00in, height: 36.00in] - Arch D paper size.
/// @prop {Map} arch_e [width: 36.00in, height: 48.00in] - Arch E paper size.
/// @prop {Map} din_a0 [width: 841.00mm, height: 1189.00mm] - DIN A0 paper size.
/// @prop {Map} din_a1 [width: 594.00mm, height: 841.00mm] - DIN A1 paper size.
/// @prop {Map} din_a2 [width: 420.00mm, height: 594.00mm] - DIN A2 paper size.
/// @prop {Map} din_a3 [width: 297.00mm, height: 420.00mm] - DIN A3 paper size.
/// @prop {Map} din_a4 [width: 210.00mm, height: 297.00mm] - DIN A4 paper size.
/// @prop {Map} din_a5 [width: 148.00mm, height: 210.00mm] - DIN A5 paper size.
/// @prop {Map} din_a6 [width: 105.00mm, height: 148.00mm] - DIN A6 paper size.
/// @prop {Map} din_a7 [width: 74.00mm, height: 105.00mm] - DIN A7 paper size.
/// @prop {Map} din_a8 [width: 52.00mm, height: 74.00mm] - DIN A8 paper size.
/// @prop {Map} din_a9 [width: 37.00mm, height: 52.00mm] - DIN A9 paper size.
/// @prop {Map} din_a10 [width: 26.00mm, height: 37.00mm] - DIN A10 paper size.
/// @prop {Map} iso_a0 [width: 841.00mm, height: 1189.00mm] - ISO A0 paper size.
/// @prop {Map} iso_a1 [width: 594.00mm, height: 841.00mm] - ISO A1 paper size.
/// @prop {Map} iso_a2 [width: 420.00mm, height: 594.00mm] - ISO A2 paper size.
/// @prop {Map} iso_a3 [width: 297.00mm, height: 420.00mm] - ISO A3 paper size.
/// @prop {Map} iso_a4 [width: 210.00mm, height: 297.00mm] - ISO A4 paper size.
/// @prop {Map} iso_a5 [width: 148.00mm, height: 210.00mm] - ISO A5 paper size.
/// @prop {Map} iso_a6 [width: 105.00mm, height: 148.00mm] - ISO A6 paper size.
/// @prop {Map} iso_a7 [width: 74.00mm, height: 105.00mm] - ISO A7 paper size.
/// @prop {Map} iso_a8 [width: 52.00mm, height: 74.00mm] - ISO A8 paper size.
/// @prop {Map} iso_a9 [width: 37.00mm, height: 52.00mm] - ISO A9 paper size.
/// @prop {Map} iso_a10 [width: 26.00mm, height: 37.00mm] - ISO A10 paper size.
/// @prop {Map} iso_b0 [width: 1000.00mm, height: 1414.00mm] - ISO B0 paper size.
/// @prop {Map} iso_b1 [width: 707.00mm, height: 1000.00mm] - ISO B1 paper size.
/// @prop {Map} iso_b2 [width: 500.00mm, height: 707.00mm] - ISO B2 paper size.
/// @prop {Map} iso_b3 [width: 353.00mm, height: 500.00mm] - ISO B3 paper size.
/// @prop {Map} iso_b4 [width: 250.00mm, height: 353.00mm] - ISO B4 paper size.
/// @prop {Map} iso_b5 [width: 176.00mm, height: 250.00mm] - ISO B5 paper size.
/// @prop {Map} iso_b6 [width: 125.00mm, height: 176.00mm] - ISO B6 paper size.
/// @prop {Map} iso_b7 [width: 88.00mm, height: 125.00mm] - ISO B7 paper size.
/// @prop {Map} iso_b8 [width: 62.00mm, height: 88.00mm] - ISO B8 paper size.
/// @prop {Map} iso_b9 [width: 44.00mm, height: 62.00mm] - ISO B9 paper size.
/// @prop {Map} iso_b10 [width: 31.00mm, height: 44.00mm] - ISO B10 paper size.
/// @prop {Map} iso_c0 [width: 917.00mm, height: 1297.00mm] - ISO C0 paper size.
/// @prop {Map} iso_c1 [width:648.00mm, height: 917.00mm] - ISO C1 paper size.
/// @prop {Map} iso_c2 [width: 458.00mm, height: 648.00mm] - ISO C2 paper size.
/// @prop {Map} iso_c3 [width: 324.00mm, height: 458.00mm] - ISO C3 paper size.
/// @prop {Map} iso_c4 [width: 229.00mm, height: 324.00mm] - ISO C4 paper size.
/// @prop {Map} iso_c5 [width: 162.00mm, height: 229.00mm] - ISO C5 paper size.
/// @prop {Map} iso_c6 [width: 114.00mm, height: 162.00mm] - ISO C6 paper size.
/// @prop {Map} iso_c7 [width: 81.00mm, height: 114.00mm] - ISO C7 paper size.
/// @prop {Map} iso_c8 [width: 57.00mm, height: 81.00mm] - ISO C8 paper size.
/// @prop {Map} iso_c9 [width: 40.00mm, height: 57.00mm] - ISO C9 paper size.
/// @prop {Map} iso_c10 [width: 28.00mm, height: 40.00mm] - ISO C10 paper size.
/// @prop {Map} iso_ra0 [width: 860.00mm, height: 1220.00mm] - ISO RA0 paper size.
/// @prop {Map} iso_ra1 [width: 610.00mm, height: 860.00mm] - ISO RA1 paper size.
/// @prop {Map} iso_ra2 [width: 430.00mm, height: 610.00mm] - ISO RA2 paper size.
/// @prop {Map} iso_ra3 [width: 305.00mm, height: 430.00mm] - ISO RA3 paper size.
/// @prop {Map} iso_ra4 [width: 215.00mm, height: 305.00mm] - ISO RA4 paper size.
/// @prop {Map} iso_sra0 [width: 900.00mm, height: 1280.00mm] - ISO SRA0 paper size.
/// @prop {Map} iso_sra1 [width: 640.00mm, height: 900.00mm] - ISO SRA1 paper size.
/// @prop {Map} iso_sra2 [width: 450.00mm, height: 640.00mm] - ISO SRA2 paper size.
/// @prop {Map} iso_sra3 [width: 320.00mm, height: 450.00mm] - ISO SRA3 paper size.
/// @prop {Map} iso_sra4 [width: 225.00mm, height: 320.00mm] - ISO SRA4 paper size.
/// @prop {Map} jis_a0 [width: 841.00mm, height: 1189.00mm] - JIS A0 paper size.
/// @prop {Map} jis_a1 [width: 594.00mm, height: 841.00mm] - JIS A1 paper size.
/// @prop {Map} jis_a2 [width: 420.00mm, height: 594.00mm] - JIS A2 paper size.
/// @prop {Map} jis_a3 [width: 297.00mm, height: 420.00mm] - JIS A3 paper size.
/// @prop {Map} jis_a4 [width: 210.00mm, height: 297.00mm] - JIS A4 paper size.
/// @prop {Map} jis_a5 [width: 148.00mm, height: 210.00mm] - JIS A5 paper size.
/// @prop {Map} jis_a6 [width: 105.00mm, height: 148.00mm] - JIS A6 paper size.
/// @prop {Map} jis_a7 [width: 74.00mm, height: 105.00mm] - JIS A7 paper size.
/// @prop {Map} jis_a8 [width: 52.00mm, height: 74.00mm] - JIS A8 paper size.
/// @prop {Map} jis_a9 [width: 37.00mm, height: 52.00mm] - JIS A9 paper size.
/// @prop {Map} jis_a10 [width: 26.00mm, height: 37.00mm] - JIS A10 paper size.
/// @prop {Map} jis_b0 [width: 1030.00mm, height: 1456.00mm] - JIS B0 paper size.
/// @prop {Map} jis_b1 [width: 728.00mm, height: 1030.00mm] - JIS B1 paper size.
/// @prop {Map} jis_b2 [width: 515.00mm, height: 728.00mm] - JIS B2 paper size.
/// @prop {Map} jis_b3 [width: 364.00mm, height: 515.00mm] - JIS B3 paper size.
/// @prop {Map} jis_b4 [width: 257.00mm, height: 364.00mm] - JIS B4 paper size.
/// @prop {Map} jis_b5 [width: 182.00mm, height: 257.00mm] - JIS B5 paper size.
/// @prop {Map} jis_b6 [width: 128.00mm, height: 182.00mm] - JIS B6 paper size.
/// @prop {Map} jis_b7 [width: 91.00mm, height: 128.00mm] - JIS B7 paper size.
/// @prop {Map} jis_b8 [width: 64.00mm, height: 91.00mm] - JIS B8 paper size.
/// @prop {Map} jis_b9 [width: 45.00mm, height: 64.00mm] - JIS B9 paper size.
/// @prop {Map} jis_b10 [width: 32.00mm, height: 45.00mm] - JIS B10 paper size.
/// @prop {Map} jis_c0 [width: 917.00mm, height: 1297.00mm] - JIS C0 paper size.
/// @prop {Map} jis_c1 [width: 648.00mm, height: 917.00mm] - JIS C1 paper size.
/// @prop {Map} jis_c2 [width: 458.00mm, height: 648.00mm] - JIS C2 paper size.
/// @prop {Map} jis_c3 [width: 324.00mm, height: 458.00mm] - JIS C3 paper size.
/// @prop {Map} jis_c4 [width: 229.00mm, height: 324.00mm] - JIS C4 paper size.
/// @prop {Map} jis_c5 [width: 162.00mm, height: 229.00mm] - JIS C5 paper size.
/// @prop {Map} jis_c6 [width: 114.00mm, height: 162.00mm] - JIS C6 paper size.
/// @prop {Map} jis_c7 [width: 81.00mm, height: 114.00mm] - JIS C7 paper size.
/// @prop {Map} jis_c8 [width: 57.00mm, height: 81.00mm] - JIS C8 paper size.
/// @prop {Map} jis_c9 [width: 40.00mm, height: 57.00mm] - JIS C9 paper size.
/// @prop {Map} jis_c10 [width: 28.00mm, height: 40.00mm] - JIS C10 paper size.
/// @prop {Map} pa0 [width: 840.00mm, height: 1120.00mm] - PA0 paper size.
/// @prop {Map} pa1 [width: 560.00mm, height: 840.00mm] - PA1 paper size.
/// @prop {Map} pa2 [width: 420.00mm, height: 560.00mm] - PA2 paper size.
/// @prop {Map} pa3 [width: 280.00mm, height: 420.00mm] - PA3 paper size.
/// @prop {Map} pa4 [width: 210.00mm, height: 280.00mm] - PA4 paper size.
/// @prop {Map} pa5 [width: 140.00mm, height: 210.00mm] - PA5 paper size.
/// @prop {Map} pa6 [width: 105.00mm, height: 140.00mm] - PA6 paper size.
/// @prop {Map} pa7 [width: 70.00mm, height: 105.00mm] - PA7 paper size.
/// @prop {Map} pa8 [width: 52.00mm, height: 70.00mm] - PA8 paper size.
/// @prop {Map} pa9 [width: 35.00mm, height: 52.00mm] - PA9 paper size.
/// @prop {Map} pa10 [width: 26.00mm, height: 35.00mm] - PA10 paper size.
/// @prop {Map} photo_3x3 [width: 3.00in, height: 3.00in] - 3”x3” photographic paper size.
/// @prop {Map} photo_4x5 [width: 4.00in, height: 5.00in] - 4”x5” photographic paper size.
/// @prop {Map} photo_5x7 [width: 5.00in, height: 7.00in] - 5”x7” photographic paper size.
/// @prop {Map} photo_8x10 [width: 8.00in, height: 10.00in] - 8”x10” photographic paper size.
/// @prop {Map} photo_10x12 [width: 10.00in, height: 12.00in] - 10”x12” photographic paper size.
/// @prop {Map} photo_16x20 [width: 16.00in, height: 20.00in] - 16”x20” photographic paper size.
/// @prop {Map} photo_2r [width: 2.50in, height: 3.50in] - 2R (Wallet) photographic paper size.
/// @prop {Map} photo_3r [width: 3.50in, height: 5.00in] - 3R photographic paper size.
/// @prop {Map} photo_4r [width: 4.00in, height: 6.00in] - 4R photographic paper size.
/// @prop {Map} photo_5r [width: 5.00in, height: 7.00in] - 5R photographic paper size.
/// @prop {Map} photo_6r [width: 6.00in, height: 8.00in] - 6R photographic paper size.
/// @prop {Map} photo_8r [width: 8.00in, height: 10.00in] - 8R photographic paper size.
/// @prop {Map} photo_8r_plus [width: 8.00in, height: 12.00in] - 8R+ photographic paper size.
/// @prop {Map} photo_10r [width: 10.00in, height: 12.00in] - 10R photographic paper size.
/// @prop {Map} photo_10r_plus [width: 10.00in, height: 15.00in] - 10R+ photographic paper size.
/// @prop {Map} photo_11r [width: 11.00in, height: 14.00in] - 11R photographic paper size.
/// @prop {Map} photo_11r_plus [width: 11.00in, height: 17.00in] - 11R+ photographic paper size.
/// @prop {Map} photo_12r [width: 12.00in, height: 15.00in] - 12R photographic paper size.
/// @prop {Map} photo_12r_plus [width: 12.00in, height: 18.00in] - 12R+ photographic paper size.
/// @prop {Map} photo_14r [width: 14.00in, height: 17.00in] - 14R photographic paper size.
/// @prop {Map} photo_16r [width: 16.00in, height: 20.00in] - 16R photographic paper size.
/// @prop {Map} photo_16r_plus [width: 16.00in, height: 24.00in] - 16R+ photographic paper size.
/// @prop {Map} photo_20r [width: 20.00in, height: 24.00in] - 20R photographic paper size.
/// @prop {Map} photo_20r_plus [width: 20.00in, height: 28.00in] - 20R+ photographic paper size.
/// @prop {Map} photo_22r [width: 20.00in, height: 29.50in] - 22R photographic paper size.
/// @prop {Map} photo_24r [width: 24.00in, height: 31.50in] - 24R photographic paper size.
/// @prop {Map} photo_24r_plus [width: 24.00in, height: 35.50in] - 24R+ photographic paper size.
/// @prop {Map} photo_30r [width: 30.00in, height: 40.00in] - 30R photographic paper size.
/// @prop {Map} us_letter [width: 8.50in, height: 11.00in] - US Letter paper size.
/// @prop {Map} us_legal [width: 8.50in, height: 14.00in] - US Legal paper size.
/// @prop {Map} us_ledger [width: 11.00in, height: 17.00in] - US Ledger/Tabloid paper size.
/// @prop {Map} us_junior [width: 5.00in, height: 8.00in] - US Junior Legal paper size.
/// @prop {Map} us_half_letter [width: 5.50in, height: 8.50in] - US Half Letter paper size.
/// @prop {Map} us_government_letter [width: 8.00in, height: 10.50in] - US Government Letter paper size.
/// @prop {Map} us_executive [width: 7.25in, height: 10.50in] - US Executive paper size.
/// @prop {Map} us_statement [width: 5.50in, height: 8.50in] - US Statement paper size.
/// @prop {Map} us_folio [width: 8.50in, height: 13.00in] - US Folio paper size.
/// @prop {Map} us_quarto [width: 8.00in, height: 10.00in] - US Quarto paper size.
/// @prop {Map} us_tabloid_extra [width: 12.00in, height: 18.00in] - US Tabloid Extra paper size.
/// @prop {Map} poster_small [width: 11.00in, height: 17.00in] - Small Poster size.
/// @prop {Map} poster_medium [width: 18.00in, height: 24.00in] - Medium Poster size.
/// @prop {Map} poster_large [width: 24.00in, height: 36.00in] - Large Poster size.
/// @prop {Map} poster_movie [width: 27.00in, height: 40.00in] - Movie Poster size.
/// @prop {Map} poster_xlarge [width: 36.00in, height: 48.00in] - Extra Large Poster size.
/// @prop {Map} canvas_8x10 [width: 8.00in, height: 10.00in] - 8”x10” art canvas size.
/// @prop {Map} canvas_10x14 [width: 10.00in, height: 14.00in] - 10”x14” art canvas size.
/// @prop {Map} canvas_10x24 [width: 10.00in, height: 24.00in] - 10”x24” art canvas size.
/// @prop {Map} canvas_12x12 [width: 12.00in, height: 12.00in] - 12”x12” art canvas size.
/// @prop {Map} canvas_12x36 [width: 12.00in, height: 36.00in] - 12”x36” art canvas size.
/// @prop {Map} canvas_16x16 [width: 16.00in, height: 16.00in] - 16”x16” art canvas size.
/// @prop {Map} canvas_16x20 [width: 16.00in, height: 20.00in] - 16”x20” art canvas size.
/// @prop {Map} canvas_18x24 [width: 18.00in, height: 24.00in] - 18”x24” art canvas size.
/// @prop {Map} canvas_20x30 [width: 20.00in, height: 30.00in] - 20”x30” art canvas size.
/// @prop {Map} canvas_20x60 [width: 20.00in, height: 60.00in] - 20”x60” art canvas size.
/// @prop {Map} canvas_24x36 [width: 24.00in, height: 36.00in] - 24”x36” art canvas size.
/// @prop {Map} canvas_30x40 [width: 30.00in, height: 40.00in] - 30”x40” art canvas size.
/// @prop {Map} canvas_30x90 [width: 30.00in, height: 90.00in] - 30”x90” art canvas size.
/// @prop {Map} canvas_36x48 [width: 36.00in, height: 48.00in] - 36”x48” art canvas size.
/// @prop {Map} canvas_40x40 [width: 40.00in, height: 40.00in] - 40”x40” art canvas size.
/// @prop {Map} canvas_40x60 [width: 40.00in, height: 60.00in] - 40”x60” art canvas size.
/// @prop {Map} canvas_48x72 [width: 48.00in, height: 72.00in] - 48”x72” art canvas size.
/// @prop {Map} book_small [width: 5in, height: 8in] - Small book size.
/// @prop {Map} book_medium [width: 6in, height: 9in] - Medium book size.
/// @prop {Map} book_large [width: 7in, height: 10in] - Large book size.
/// @prop {Map} book_collectors [width: 9in, height: 12in] - Collector’s edition book size.
/// @prop {Map} book_coffee_table [width: 12in, height: 15in] - Coffee table book size.
/// @prop {Map} business_card_us [width: 3.5in, height: 2in] - US standard business card size.
/// @prop {Map} business_card_eu [width: 85mm, height: 55mm] - EU standard business card size.
/// @prop {Map} business_card_iso [width: 90mm, height: 55mm] - ISO standard business card size.
/// @prop {Map} index_card_3x5 [width: 3in, height: 5in] - 3”x5” index card size.
/// @prop {Map} index_card_4x6 [width: 4in, height: 6in] - 4”x6” index card size.
/// @prop {Map} index_card_5x8 [width: 5in, height: 8in] - 5”x8” index card size.
/// @prop {Map} brochure_8x10 [width: 8in, height: 10in] - 8”x10” brochure size.
/// @prop {Map} brochure_11x17 [width: 11in, height: 17in] - 11”x17” brochure size.
/// @prop {Map} flyer_small [width: 4.25in, height: 5.5in] - Small flyer size.
/// @prop {Map} flyer_medium [width: 5.5in, height: 8.5in] - Medium flyer size.
/// @prop {Map} flyer_large [width: 8.5in, height: 11in] - Large flyer size.
/// @prop {Map} journal_standard [width: 6in, height: 9in] - Standard academic journal size.
/// @prop {Map} journal_large [width: 7in, height: 10in] - Large academic journal size.
/// @prop {Map} thesis_standard [width: 8.5in, height: 11in] - Standard thesis paper size.
/// @prop {Map} thesis_large [width: 11in, height: 17in] - Large thesis paper size.
/// @prop {Map} comic_book [width: 6.625in, height: 10.25in] - Standard comic book size.
/// @prop {Map} music_sheet [width: 9in, height: 12in] - Standard music sheet size.
/// @prop {Map} playing_card [width: 2.5in, height: 3.5in] - Standard playing card size.
$paper_sizes: (
    // Q Series (Custom)
    // ------------------------------------------------------------------------
    "q0": (
            width: 720mm,
            height: 1080mm,
        ),
    // Q0
    "q1": (
            width: 540mm,
            height: 720mm,
        ),
    // Q1
    "q2": (
            width: 360mm,
            height: 540mm,
        ),
    // Q2
    "q3": (
            width: 270mm,
            height: 360mm,
        ),
    // Q3
    "q4": (
            width: 180mm,
            height: 270mm,
        ),
    // Q4
    "q5": (
            width: 135mm,
            height: 180mm,
        ),
    // Q5
    "q6": (
            width: 90mm,
            height: 135mm,
        ),
    // Q6
    "q7": (
            width: 62.5mm,
            height: 90mm,
        ),
    // Q7
    "q8": (
            width: 45mm,
            height: 62.5mm,
        ),
    // Q8
    "q9": (
            width: 31.25mm,
            height: 45mm,
        ),
    // Q9
    "q10": (
            width: 22.5mm,
            height: 31.25mm,
        ),
    // Q10
    // ANSI Series
    // ------------------------------------------------------------------------
    "ansi_a": (
            width: 8.5in,
            height: 11in,
        ),
    // ANSI A (Letter)
    "ansi_b": (
            width: 11in,
            height: 17in,
        ),
    // ANSI B (Ledger)
    "ansi_c": (
            width: 17in,
            height: 22in,
        ),
    // ANSI C
    "ansi_d": (
            width: 22in,
            height: 34in,
        ),
    // ANSI D
    "ansi_e": (
            width: 34in,
            height: 44in,
        ),
    // ANSI E
    // Arch Series (Engineering Drawing Sizes)
    // ------------------------------------------------------------------------
    "arch_a": (
            width: 9in,
            height: 12in,
        ),
    // Arch A
    "arch_b": (
            width: 12in,
            height: 18in,
        ),
    // Arch B
    "arch_c": (
            width: 18in,
            height: 24in,
        ),
    // Arch C
    "arch_d": (
            width: 24in,
            height: 36in,
        ),
    // Arch D
    "arch_e": (
            width: 36in,
            height: 48in,
        ),
    // Arch E
    // DIN A Series
    // ------------------------------------------------------------------------
    "din_a0": (
            width: 841mm,
            height: 1189mm,
        ),
    // DIN A0
    "din_a1": (
            width: 594mm,
            height: 841mm,
        ),
    // DIN A1
    "din_a2": (
            width: 420mm,
            height: 594mm,
        ),
    // DIN A2
    "din_a3": (
            width: 297mm,
            height: 420mm,
        ),
    // DIN A3
    "din_a4": (
            width: 210mm,
            height: 297mm,
        ),
    // DIN A4
    "din_a5": (
            width: 148mm,
            height: 210mm,
        ),
    // DIN A5
    "din_a6": (
            width: 105mm,
            height: 148mm,
        ),
    // DIN A6
    "din_a7": (
            width: 74mm,
            height: 105mm,
        ),
    // DIN A7
    "din_a8": (
            width: 52mm,
            height: 74mm,
        ),
    // DIN A8
    "din_a9": (
            width: 37mm,
            height: 52mm,
        ),
    // DIN A9
    "din_a10": (
            width: 26mm,
            height: 37mm,
        ),
    // DIN A10
    // ISO A Series
    // ------------------------------------------------------------------------
    "iso_a0": (
            width: 841mm,
            height: 1189mm,
        ),
    // ISO A0
    "iso_a1": (
            width: 594mm,
            height: 841mm,
        ),
    // ISO A1
    "iso_a2": (
            width: 420mm,
            height: 594mm,
        ),
    // ISO A2
    "iso_a3": (
            width: 297mm,
            height: 420mm,
        ),
    // ISO A3
    "iso_a4": (
            width: 210mm,
            height: 297mm,
        ),
    // ISO A4
    "iso_a5": (
            width: 148mm,
            height: 210mm,
        ),
    // ISO A5
    "iso_a6": (
            width: 105mm,
            height: 148mm,
        ),
    // ISO A6
    "iso_a7": (
            width: 74mm,
            height: 105mm,
        ),
    // ISO A7
    "iso_a8": (
            width: 52mm,
            height: 74mm,
        ),
    // ISO A8
    "iso_a9": (
            width: 37mm,
            height: 52mm,
        ),
    // ISO A9
    "iso_a10": (
            width: 26mm,
            height: 37mm,
        ),
    // ISO A10
    // ISO B Series
    // ------------------------------------------------------------------------
    "iso_b0": (
            width: 1000mm,
            height: 1414mm,
        ),
    // ISO B0
    "iso_b1": (
            width: 707mm,
            height: 1000mm,
        ),
    // ISO B1
    "iso_b2": (
            width: 500mm,
            height: 707mm,
        ),
    // ISO B2
    "iso_b3": (
            width: 353mm,
            height: 500mm,
        ),
    // ISO B3
    "iso_b4": (
            width: 250mm,
            height: 353mm,
        ),
    // ISO B4
    "iso_b5": (
            width: 176mm,
            height: 250mm,
        ),
    // ISO B5
    "iso_b6": (
            width: 125mm,
            height: 176mm,
        ),
    // ISO B6
    "iso_b7": (
            width: 88mm,
            height: 125mm,
        ),
    // ISO B7
    "iso_b8": (
            width: 62mm,
            height: 88mm,
        ),
    // ISO B8
    "iso_b9": (
            width: 44mm,
            height: 62mm,
        ),
    // ISO B9
    "iso_b10": (
            width: 31mm,
            height: 44mm,
        ),
    // ISO B10
    // ISO C Series (International Envelope Sizes)
    // ------------------------------------------------------------------------
    "iso_c0": (
            width: 917mm,
            height: 1297mm,
        ),
    // ISO C0
    "iso_c1": (
            width: 648mm,
            height: 917mm,
        ),
    // ISO C1
    "iso_c2": (
            width: 458mm,
            height: 648mm,
        ),
    // ISO C2
    "iso_c3": (
            width: 324mm,
            height: 458mm,
        ),
    // ISO C3
    "iso_c4": (
            width: 229mm,
            height: 324mm,
        ),
    // ISO C4
    "iso_c5": (
            width: 162mm,
            height: 229mm,
        ),
    // ISO C5
    "iso_c6": (
            width: 114mm,
            height: 162mm,
        ),
    // ISO C6
    "iso_c7": (
            width: 81mm,
            height: 114mm,
        ),
    // ISO C7
    "iso_c8": (
            width: 57mm,
            height: 81mm,
        ),
    // ISO C8
    "iso_c9": (
            width: 40mm,
            height: 57mm,
        ),
    // ISO C9
    "iso_c10": (
            width: 28mm,
            height: 40mm,
        ),
    // ISO C10
    // ISO RA Series (ISO 217:2013)
    // ------------------------------------------------------------------------
    "iso_ra0": (
            width: 860mm,
            height: 1220mm,
        ),
    // ISO RA0
    "iso_ra1": (
            width: 610mm,
            height: 860mm,
        ),
    // ISO RA1
    "iso_ra2": (
            width: 430mm,
            height: 610mm,
        ),
    // ISO RA2
    "iso_ra3": (
            width: 305mm,
            height: 430mm,
        ),
    // ISO RA3
    "iso_ra4": (
            width: 215mm,
            height: 305mm,
        ),
    // ISO RA4
    // ISO SRA Series (ISO 217:2013)
    // ------------------------------------------------------------------------
    "iso_sra0": (
            width: 900mm,
            height: 1280mm,
        ),
    // ISO SRA0
    "iso_sra1": (
            width: 640mm,
            height: 900mm,
        ),
    // ISO SRA1
    "iso_sra2": (
            width: 450mm,
            height: 640mm,
        ),
    // ISO SRA2
    "iso_sra3": (
            width: 320mm,
            height: 450mm,
        ),
    // ISO SRA3
    "iso_sra4": (
            width: 225mm,
            height: 320mm,
        ),
    // ISO SRA4
    // JIS A Series
    // ------------------------------------------------------------------------
    "jis_a0": (
            width: 841mm,
            height: 1189mm,
        ),
    // JIS A0
    "jis_a1": (
            width: 594mm,
            height: 841mm,
        ),
    // JIS A1
    "jis_a2": (
            width: 420mm,
            height: 594mm,
        ),
    // JIS A2
    "jis_a3": (
            width: 297mm,
            height: 420mm,
        ),
    // JIS A3
    "jis_a4": (
            width: 210mm,
            height: 297mm,
        ),
    // JIS A4
    "jis_a5": (
            width: 148mm,
            height: 210mm,
        ),
    // JIS A5
    "jis_a6": (
            width: 105mm,
            height: 148mm,
        ),
    // JIS A6
    "jis_a7": (
            width: 74mm,
            height: 105mm,
        ),
    // JIS A7
    "jis_a8": (
            width: 52mm,
            height: 74mm,
        ),
    // JIS A8
    "jis_a9": (
            width: 37mm,
            height: 52mm,
        ),
    // JIS A9
    "jis_a10": (
            width: 26mm,
            height: 37mm,
        ),
    // JIS A10
    // JIS B Series
    // ------------------------------------------------------------------------
    "jis_b0": (
            width: 1030mm,
            height: 1456mm,
        ),
    // JIS B0
    "jis_b1": (
            width: 728mm,
            height: 1030mm,
        ),
    // JIS B1
    "jis_b2": (
            width: 515mm,
            height: 728mm,
        ),
    // JIS B2
    "jis_b3": (
            width: 364mm,
            height: 515mm,
        ),
    // JIS B3
    "jis_b4": (
            width: 257mm,
            height: 364mm,
        ),
    // JIS B4
    "jis_b5": (
            width: 182mm,
            height: 257mm,
        ),
    // JIS B5
    "jis_b6": (
            width: 128mm,
            height: 182mm,
        ),
    // JIS B6
    "jis_b7": (
            width: 91mm,
            height: 128mm,
        ),
    // JIS B7
    "jis_b8": (
            width: 64mm,
            height: 91mm,
        ),
    // JIS B8
    "jis_b9": (
            width: 45mm,
            height: 64mm,
        ),
    // JIS B9
    "jis_b10": (
            width: 32mm,
            height: 45mm,
        ),
    // JIS B10
    // JIS C Series
    // ------------------------------------------------------------------------
    "jis_c0": (
            width: 917mm,
            height: 1297mm,
        ),
    // JIS C0
    "jis_c1": (
            width: 648mm,
            height: 917mm,
        ),
    // JIS C1
    "jis_c2": (
            width: 458mm,
            height: 648mm,
        ),
    // JIS C2
    "jis_c3": (
            width: 324mm,
            height: 458mm,
        ),
    // JIS C3
    "jis_c4": (
            width: 229mm,
            height: 324mm,
        ),
    // JIS C4
    "jis_c5": (
            width: 162mm,
            height: 229mm,
        ),
    // JIS C5
    "jis_c6": (
            width: 114mm,
            height: 162mm,
        ),
    // JIS C6
    "jis_c7": (
            width: 81mm,
            height: 114mm,
        ),
    // JIS C7
    "jis_c8": (
            width: 57mm,
            height: 81mm,
        ),
    // JIS C8
    "jis_c9": (
            width: 40mm,
            height: 57mm,
        ),
    // JIS C9
    "jis_c10": (
            width: 28mm,
            height: 40mm,
        ),
    // JIS C10
    // PA (Alternate) Series
    // ------------------------------------------------------------------------
    "pa0": (
            width: 840mm,
            height: 1120mm,
        ),
    // PA0
    "pa1": (
            width: 560mm,
            height: 840mm,
        ),
    // PA1
    "pa2": (
            width: 420mm,
            height: 560mm,
        ),
    // PA2
    "pa3": (
            width: 280mm,
            height: 420mm,
        ),
    // PA3
    "pa4": (
            width: 210mm,
            height: 280mm,
        ),
    // PA4
    "pa5": (
            width: 140mm,
            height: 210mm,
        ),
    // PA5
    "pa6": (
            width: 105mm,
            height: 140mm,
        ),
    // PA6
    "pa7": (
            width: 70mm,
            height: 105mm,
        ),
    // PA7
    "pa8": (
            width: 52mm,
            height: 70mm,
        ),
    // PA8
    "pa9": (
            width: 35mm,
            height: 52mm,
        ),
    // PA9
    "pa10": (
            width: 26mm,
            height: 35mm,
        ),
    // PA10
    // Photographic Paper Sizes (ISO 1008)
    // ------------------------------------------------------------------------
    "photo_3x3": (
            width: 3in,
            height: 3in,
        ),
    //  3" x  3"
    "photo_4x5": (
            width: 4in,
            height: 5in,
        ),
    //  4" x  5"
    "photo_5x7": (
            width: 5in,
            height: 7in,
        ),
    //  5" x  7"
    "photo_8x10": (
            width: 8in,
            height: 10in,
        ),
    //  8" x 10"
    "photo_10x12": (
            width: 10in,
            height: 12in,
        ),
    // 10" x 12"
    "photo_16x20": (
            width: 16in,
            height: 20in,
        ),
    // 16" x 20"
    // Photographic Paper Sizes (US)
    // ------------------------------------------------------------------------
    "photo_2r": (
            width: 2.5in,
            height: 3.5in,
        ),
    // 2R (Wallet)
    "photo_3r": (
            width: 3.5in,
            height: 5in,
        ),
    // 3R
    "photo_4r": (
            width: 4in,
            height: 6in,
        ),
    // 4R
    "photo_5r": (
            width: 5in,
            height: 7in,
        ),
    // 5R
    "photo_6r": (
            width: 6in,
            height: 8in,
        ),
    // 6R
    "photo_8r": (
            width: 8in,
            height: 10in,
        ),
    // 8R
    "photo_8r_plus": (
            width: 8in,
            height: 12in,
        ),
    // 8R+
    "photo_10r": (
            width: 10in,
            height: 12in,
        ),
    // 10R
    "photo_10r_plus": (
            width: 10in,
            height: 15in,
        ),
    // 10R+
    "photo_11r": (
            width: 11in,
            height: 14in,
        ),
    // 11R
    "photo_11r_plus": (
            width: 11in,
            height: 17in,
        ),
    // 11R+
    "photo_12r": (
            width: 12in,
            height: 15in,
        ),
    // 12R
    "photo_12r_plus": (
            width: 12in,
            height: 18in,
        ),
    // 12R+
    "photo_14r": (
            width: 14in,
            height: 17in,
        ),
    // 14R
    "photo_16r": (
            width: 16in,
            height: 20in,
        ),
    // 16R
    "photo_16r_plus": (
            width: 16in,
            height: 24in,
        ),
    // 16R+
    "photo_20r": (
            width: 20in,
            height: 24in,
        ),
    // 20R
    "photo_20r_plus": (
            width: 20in,
            height: 28in,
        ),
    // 20R+
    "photo_22r": (
            width: 20in,
            height: 29.5in,
        ),
    // 22R
    "photo_24r": (
            width: 24in,
            height: 31.5in,
        ),
    // 24R
    "photo_24r_plus": (
            width: 24in,
            height: 35.5in,
        ),
    // 24R+
    "photo_30r": (
            width: 30in,
            height: 40in,
        ),
    // 30R
    // US Paper Sizes
    // ------------------------------------------------------------------------
    "us_letter": (
            width: 8.5in,
            height: 11in,
        ),
    // US Letter
    "us_legal": (
            width: 8.5in,
            height: 14in,
        ),
    // US Legal
    "us_ledger": (
            width: 11in,
            height: 17in,
        ),
    // US Ledger/Tabloid
    "us_junior": (
            width: 5in,
            height: 8in,
        ),
    // US Junior Legal
    "us_half_letter": (
            width: 5.5in,
            height: 8.5in,
        ),
    // US Half Letter
    "us_government_letter": (
            width: 8in,
            height: 10.5in,
        ),
    // US Government Letter
    "us_executive": (
            width: 7.25in,
            height: 10.5in,
        ),
    // US Executive
    "us_statement": (
            width: 5.5in,
            height: 8.5in,
        ),
    // US Statement
    "us_folio": (
            width: 8.5in,
            height: 13in,
        ),
    // US Folio
    "us_quarto": (
            width: 8in,
            height: 10in,
        ),
    // US Quarto
    "us_tabloid_extra": (
            width: 12in,
            height: 18in,
        ),
    // US Tabloid Extra
    // US Poster Sizes
    // ------------------------------------------------------------------------
    "poster_small": (
            width: 11in,
            height: 17in,
        ),
    // Small Poster
    "poster_medium": (
            width: 18in,
            height: 24in,
        ),
    // Medium Poster
    "poster_large": (
            width: 24in,
            height: 36in,
        ),
    // Large Poster
    "poster_movie": (
            width: 27in,
            height: 40in,
        ),
    // Movie Poster
    "poster_xlarge": (
            width: 36in,
            height: 48in,
        ),
    // Extra Large Poster
    // Art Canvas Sizes
    // ------------------------------------------------------------------------
    "canvas_8x10": (
            width: 8in,
            height: 10in,
        ),
    //  8" x 10" (4:5 ratio)
    "canvas_10x14": (
            width: 10in,
            height: 14in,
        ),
    // 10" x 14"
    "canvas_10x24": (
            width: 10in,
            height: 24in,
        ),
    // 10" x 24" (5:12 ratio)
    "canvas_12x12": (
            width: 12in,
            height: 12in,
        ),
    // 12" x 12" (1:1 ratio)
    "canvas_12x36": (
            width: 12in,
            height: 36in,
        ),
    // 12" x 36" (1:3 ratio)
    "canvas_16x16": (
            width: 16in,
            height: 16in,
        ),
    // 16" x 16" (1:1 ratio)
    "canvas_16x20": (
            width: 16in,
            height: 20in,
        ),
    // 16" x 20" (4:5 ratio)
    "canvas_18x24": (
            width: 18in,
            height: 24in,
        ),
    // 18" x 24" (3:4 ratio)
    "canvas_20x30": (
            width: 20in,
            height: 30in,
        ),
    // 20" x 30" (2:3 ratio)
    "canvas_20x60": (
            width: 20in,
            height: 60in,
        ),
    // 20" x 60" (1:3 ratio)
    "canvas_24x36": (
            width: 24in,
            height: 36in,
        ),
    // 24" x 36" (2:3 ratio)
    "canvas_30x40": (
            width: 30in,
            height: 40in,
        ),
    // 30" x 40" (3:4 ratio)
    "canvas_30x90": (
            width: 30in,
            height: 90in,
        ),
    // 30" x 90" (1:3 ratio)
    "canvas_36x48": (
            width: 36in,
            height: 48in,
        ),
    // 36" x 48" (3:4 ratio)
    "canvas_40x40": (
            width: 40in,
            height: 40in,
        ),
    // 40" x 40" (1:1 ratio)
    "canvas_40x60": (
            width: 40in,
            height: 60in,
        ),
    // 40" x 60" (2:3 ratio)
    "canvas_48x72": (
            width: 48in,
            height: 72in,
        ),
    // 48" x 72" (2:3 ratio)
    // Book Sizes (Common in Publishing)
    // ------------------------------------------------------------------------
    "book_small": (
            width: 5in,
            height: 8in,
        ),
    // Small Book
    "book_medium": (
            width: 6in,
            height: 9in,
        ),
    // Medium Book
    "book_large": (
            width: 7in,
            height: 10in,
        ),
    // Large Book
    "book_collectors": (
            width: 9in,
            height: 12in,
        ),
    // Collectors Edition Book
    "book_coffee_table": (
            width: 12in,
            height: 15in,
        ),
    // Coffee Table Book
    // Business Card Standard Sizes
    // ------------------------------------------------------------------------
    "business_card_us": (
            width: 3.5in,
            height: 2in,
        ),
    // US Standard Business Card
    "business_card_eu": (
            width: 85mm,
            height: 55mm,
        ),
    // EU Standard Business Card
    "business_card_iso": (
            width: 90mm,
            height: 55mm,
        ),
    // ISO Standard Business Card
    // Index Card Sizes
    // ------------------------------------------------------------------------
    "index_card_3x5": (
            width: 3in,
            height: 5in,
        ),
    // 3" x 5" Index Card
    "index_card_4x6": (
            width: 4in,
            height: 6in,
        ),
    // 4" x 6" Index Card
    "index_card_5x8": (
            width: 5in,
            height: 8in,
        ),
    // 5" x 8" Index Card
    // Commercial Printing Sizes
    // ------------------------------------------------------------------------
    "brochure_8x10": (
            width: 8in,
            height: 10in,
        ),
    // 8" x 10" Brochure
    "brochure_11x17": (
            width: 11in,
            height: 17in,
        ),
    // 11" x 17" Brochure
    // Advertising Flyer Sizes
    // ------------------------------------------------------------------------
    "flyer_small": (
            width: 4.25in,
            height: 5.5in,
        ),
    // Small Flyer
    "flyer_medium": (
            width: 5.5in,
            height: 8.5in,
        ),
    // Medium Flyer
    "flyer_large": (
            width: 8.5in,
            height: 11in,
        ),
    // Large Flyer
    // Academic Paper Sizes
    // ------------------------------------------------------------------------
    "journal_standard": (
            width: 6in,
            height: 9in,
        ),
    // Standard Academic Journal
    "journal_large": (
            width: 7in,
            height: 10in,
        ),
    // Large Academic Journal
    "thesis_standard": (
            width: 8.5in,
            height: 11in,
        ),
    // Standard Thesis Paper
    "thesis_large": (
            width: 11in,
            height: 17in,
        ),
    // Large Thesis Paper
    // Other Standard Sizes
    // ------------------------------------------------------------------------
    "comic_book": (
            width: 6.625in,
            height: 10.25in,
        ),
    // Standard Comic Book
    "music_sheet": (
            width: 9in,
            height: 12in,
        ),
    // Standard Music Sheet
    "playing_card": (
            width: 2.5in,
            height: 3.5in,
        ) // Standard Playing Card
) !default;
