{% extends "base.html.jinja" %}

{% block title %}unit.gl Test Index | unit.gl{% endblock %}

{% block header %}
<h1>unit.gl Test Pages</h1>
<p>Welcome to the <code>unit.gl</code> test environment. Below is a list of component test pages demonstrating core
    utilities, mixins, and responsive logic.</p>

{% endblock %}

{% block content %}



{% set pages = {
"test_ratio": "layout",
"test_scale": "scale",
"test_display": "media",
"test_typography": "type",
"test_spacing": "rhythm",
"test_tokens": "variables",
"guide--baseline": "guides",
"test_layers": "layers"
} %}

<ul>
    {% for page, tag in pages %}
    <li>
        <a href="/{{ page }}.html">{{ page | replace("_", " ") | title }}</a>
        <span class="tag">{{ tag }}</span>
    </li>
    {% endfor %}
</ul>

{% endblock %}
