{% extends "base.html.jinja" %}

{% block title %}Scale System | unit.gl{% endblock %}

{% block content %}

{% include "sections/scale/01-scale-explorer-interactive.jinja" %}
{% include "sections/scale/02-q-scale-section.jinja" %}
{% include "sections/scale/03-visual-grid-comparison.jinja" %}
{% include "sections/scale/04-mathematical-foundation.jinja" %}
{% include "sections/scale/05-typographic-scale.jinja" %}
{% include "sections/scale/06-typography-examples.jinja" %}
{% include "sections/scale/07-vertical-rhythm.jinja" %}
{% include "sections/scale/08-modular-scale.jinja" %}
{% include "sections/scale/09-scale-relationship-table.jinja" %}
{% include "sections/scale/10-scss-functions.jinja" %}
{% include "sections/scale/11-when-to-use.jinja" %}
{% include "sections/scale/12-why-hybrid.jinja" %}

{% endblock %}
