{% extends "base.html.jinja" %}

{%- block title %}Aspect Ratio Test{%- endblock %}


{%- block header %}
<h1>Aspect Ratio Test</h1>
<p>Visual tests for aspect ratios.</p>
{%- endblock %}

{%- block content %}

<section class="demo-container">
    <div class="demo-box ratio_16x9" data-label="16:9 Native">
        <div></div>
    </div>

    <div class="demo-box ratio_1x1" data-label="1:1 Native">
        <div></div>
    </div>

    <div class="demo-box ratio_4x3" data-label="4:3 Native">
        <div></div>
    </div>

</section>
{%- endblock %}
